---
import PortfolioLayout from "#components/PortfolioLayout";
import AboutBody from "#react/AboutBody";

// lib
import { dbClient, type AboutSection } from "@jonsimeon/lib/db";
import { meAvatar } from "@jonsimeon/lib/db";
import { env } from "@jonsimeon/lib/env";
import { readSingleton } from "@directus/sdk";

const request = await dbClient.request(
  readSingleton("about", {
    fields: [{ section: ["heading", "body"] }],
  }),
);

const sections = request.section as AboutSection[];
const assets = env.PUBLIC_ASSETS;
const title = "About";
const description = "All about me, Jon!";
---

<PortfolioLayout {title} {description}>
  <div class="grid grid-cols-3 gap-10 animate-fade">
    <div class="col-span-2">
      <AboutBody {sections} />
    </div>
    <img
      src={`${assets}/${meAvatar.id}?key=medium`}
      alt={meAvatar.description}
      width="1000"
      height="1000"
      class="rounded-full shadow-hard"
    />
  </div>
</PortfolioLayout>
