---
import SiteMessage from "@ui/astro/SiteMessage.astro";
import Link from "@ui/react/Link";

const title = "Illustration & Design";
const description = "My portfolio of my iullustration and design work.";

const baseUrl = import.meta.env.BASE_URL;
const resume = "https://resume.jonsimeon.com";
const blog = "https://blog.jonsimeon.com";
---

<SiteMessage {title} {description}>
  <Fragment slot="heading">
    <span>Fun things</span><br />
    <span class="flex items-center gap-3">
      are on their way!
      <img
        class="portrait:hidden pt-3"
        width="32"
        height="32"
        src="/favicon.svg"
      />
    </span>
  </Fragment>
  <div class="flex flex-col gap-2">
    <p>
      I'm working on rebuilding &nbsp;<Link href={baseUrl}>jonsimeon.com</Link>.
    </p>
    <p>
      In the meanwhile, check out my <Link href={resume}>resume</Link>
      <!-- NOT YEY READY
      and my <Link href={blog}>blog</Link>
      -->
      !
    </p>
  </div>
</SiteMessage>
