---
import SiteMessage from "@ui/astro/SiteMessage.astro";
import Link from "@ui/react/Link";

const title = "Illustration & Design";
const description = "My portfolio of my iullustration and design work.";

const baseUrl = import.meta.env.BASE_URL;
const resume = "https://resume.jonsimeon.com";
const blog = "https://blog.jonsimeon.com";
---

<SiteMessage {title} {description}>
  <Fragment slot="heading">
    Fun things<br />
    are on their way! <small>⭐</small>
  </Fragment>
  <div>
    <p><Link href={baseUrl}>jonsimeon.com</Link> is currently being rebuilt.</p>
    <p>
      In the meanwhile, check out my <Link href={resume}>resume</Link> and my <Link
        href={blog}>blog</Link
      >!
    </p>
  </div>
</SiteMessage>
