---
// ui
import { Icon } from "astro-icon/components";
import { MainLayout } from "@jonsimeon/ui/layouts";
import {
  HeroGreeting,
  Section,
  Logo,
  Badge,
  FeaturedProjects,
} from "@jonsimeon/ui/react";
import MainFooter from "#components/MainFooter";
import MainMarquee from "#react/MainMarquee";

// lib
import { links } from "#lib/requests";
import { featuredProjects } from "#lib/featuredProjects";
import type { IconBadge } from "@jonsimeon/lib/db";
import { env } from "@jonsimeon/lib/env";

const title = "Illustration & Design";
const description = "My portfolio of my iullustration and design work.";

const assets = env.PUBLIC_ASSETS;
---

<MainLayout {title} {description}>
  <MainMarquee client:idle />
  <main>
    <Section innerClasses="h-[99vh]">
      <div class="flex flex-col h-[75vh] items-center justify-between py-10">
        <div class="w-full flex items-center justify-between">
          <Logo />
          <ul class="flex items-center gap-5">
            {
              links.map((l) => {
                const icon = l.icon_badge_id as IconBadge;
                return (
                  <a href={icon.href}>
                    <Badge>
                      <Icon name={icon.icon} /> {icon.label}
                    </Badge>
                  </a>
                );
              })
            }
          </ul>
        </div>
        <HeroGreeting
          first={`Hi, there!`}
          second={`It's me ya boye, Jon!`}
          client:load
        />
      </div>
    </Section>
  </main>
  <MainFooter />
  <FeaturedProjects {assets} projects={featuredProjects} client:idle />
</MainLayout>
