---
// components
import { Icon } from "astro-icon/components";
import { Card } from "@jonsimeon/ui/react";
import { Badge } from "@jonsimeon/ui/react";
import { Heading } from "@jonsimeon/ui/react";

// lib
import { dbClient } from "@jonsimeon/lib/db";
import { env } from "@jonsimeon/lib/env";
import { meAvatar } from "@jonsimeon/lib/db";
import { readItems } from "@directus/sdk";

const meInfo = await dbClient.request(
  readItems("icon_badge", {
    fields: ["label", "icon", "description"],
    //@ts-ignore
    filter: { tags: { _contains: "me-info" } },
    sort: "label",
  }),
);
const imgUrl = env.PUBLIC_ASSETS + "/" + meAvatar.id;
---

<Card color="info" classes="text-info-content">
  <div class="card-body p-5">
    <img
      src={`${imgUrl}?key=small`}
      alt={meAvatar.description}
      class:list={[
        "absolute",
        "w-40",
        "lg:w-32",
        "z-10",
        "rounded-full",
        "drop-shadow-lg",
        "-right-7",
        "lg:-top-5",
      ]}
    />
    <Heading tagName="h3" size="h2"> ME! </Heading>
    <ul class="flex flex-col gap-2">
      {
        meInfo.map((i) => (
          <Badge title={i.description} classes="cursor-zoom-in">
            <Icon name={i.icon} />
            {i.label}
          </Badge>
        ))
      }
    </ul>
  </div>
</Card>
